# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store          # Mac
Thumbs.db          # Windows

# Editor/IDE
.vscode/
.idea/
*.swp

# Testing
coverage/

# Misc
.cache/
.parcel-cache/
