@import "tailwindcss";

@theme {
    --font-display: "Afacad", sans-serif;
}

body {
    margin: 0;
}

.afacad-font {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
